[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-session = "*"
werkzeug = "*"
flask-migrate = "*"
flask-mail = "*"
flask-jwt-extended = "*"
flask-socketio = "*"
python-engineio = "*"
python-socketio = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.12"
